

header{
    background: rgb(0, 8, 255);
    height: 30px;
    padding-top: 0.25px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

body{
    background: rgb(14,0,255);
    background: linear-gradient(0deg, rgba(14,0,255,1) 0%, rgba(132,171,255,1) 24%, rgba(255,255,255,1) 60%);
    margin: 0;
   
}

div.the-whole-damn-thing {
    margin: auto;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    width: 80%;
    padding-bottom: 20px;    
}

div.words-words-words {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
}

.button {
    background-color: white;
    padding: 10px;

}

.draggable {
    background-color: #2600ff;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    box-shadow: 15px 15px white;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 10px;
    padding-bottom: 25px;
    touch-action: none;
    user-select: none;
    cursor: move;
    display: none;
    position: absolute;
    z-index: 10;
}
 #reveal-1 {   
    top: 8%;
    left: 65%;
    width: 350px;
}

#reveal-2 {
    top: 20%;
    left: 5%;
    width: 350px;
}

#reveal-3 {
    top: 60%;
    left: 30%;
    width: 500px;
}

h1{
    font-size: 80px;
    line-height: 10%;
    font-family: 'VT323';
    letter-spacing: -1.5px;
    color: blue;
    text-shadow: 5px 5px #ffffff;
}

h2{
    font-family: 'VT323';
    text-align: center;
    line-height: 70%;
    margin-top: -3px;
    margin-bottom: -1px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color:#ffffff; 
    text-shadow: 3px 3px black;
}

h3{
    font-family: 'Space Grotesk';
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 150%;
    letter-spacing: -0.5px;
}

p{
    font-family: 'Space Grotesk';
    font-size: 13px;
    text-align: center;
    line-height: 150%;
    letter-spacing: -0.5px;
}